body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

#chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: none;
    flex-direction: column;
    z-index: 1000;
    overflow: hidden;
}

#chat-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.header-text {
    font-weight: bold;
}

.status {
    color: #00FF00; 
    font-size: 0.9em;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#close-chat {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#chat-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}

#chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: #fafafa;
    border-radius: 10px;
}

.user-message, .bot-message {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 80%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-message {
    background-color: #e8f4f8;
    align-self: flex-end;
}

.bot-message {
    background-color: #f1f1f1;
    align-self: flex-start;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 150px; 
    padding: 10px;
    margin-top: 10px;
}

button.option {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%; 
    font-size: 14px;
}

button.option:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

input[type="text"] {
    width: calc(100% - 40px); 
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}
